<!DOCTYPE html>
<!--
  ~ Copyright (c) 2016 the original author or authors
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcome</title>
    <script src="/sockjs-0.3.4.js"></script>
    <script src="/stomp.js"></script>
    <script src="/jquery.js"></script>

    <!--
    see more details here
    http://stackoverflow.com/questions/7131909/facebook-callback-appends-to-return-url
    -->

    <script type="text/javascript">

    if (window.location.hash == '#_=_') {
        window.location.hash = '';
    }

    var stompClient = null;

    function connect() {
        var socket = new SockJS('/api/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            console.log('Connected: ' + frame);

            stompClient.subscribe('/user/topic/notifications', function(message){
                showOutput(message.body);
            });

            <!--stompClient.send("/processrequest", {}, JSON.stringify({ 'string1': 'The first string', 'string2' : 'The second string' }));-->

        });

    }

    function showOutput(message) {

        var notification = JSON.parse(message);

        $.ajax({url: "/api/notifications/" + notification.notificationId, success: function(result){
            var response = document.getElementById('response');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(JSON.stringify(result)));
            response.appendChild(p);
        }});


    }

    connect();





    </script>
</head>

<body>
<div id="content">
    <p>Welcome</p>
    <br/>

    <table class="tg">
        <tbody>
        <tr th:each="row : ${accountData}">
            <td class="tg bg" th:text="${row.key}"></td>
            <td class="tg bg" th:text="${row.value}"></td>
        </tr>
        </tbody>
    </table>

    <br/>
    <form method="POST" th:action="@{/logout}">
        <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>-->
        <button>Logout</button>
    </form>
</div>
<br/>

<div>
    Notifications:
    <p id="response"></p>
</div>

</body>
</html>
