<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>
<body>
<table style="width: 800px; margin: 0 auto;" align="center">
    <tr>
        <td style="background: #333;">
            <img style="margin-left: 25px; padding-top: 18px; padding-bottom:14px;" src="cid:img/email/logo.png">
        </td>
        <td>
    </tr>
    <tr>
        <td>
            <div class="content" style="margin-top: 20px; margin-left: 10px; margin-right: 10px;">

                <a href="${host}/api/example/${activationToken}">${host}/api/example/${activationToken}</a>

            </div>
        </td>
    </tr>
</table>
</body>
</html>
